##############
# MATH STUFF #
##############
snippet al "Align" b
\begin{align}
	$0
\end{align}
endsnippet

snippet alnn "Align without number" b
\begin{align*}
	$0
\end{align*}
endsnippet

# vim:ft=snippets:
